<div class='card shadow-sm p-3 mb-5 bg-white rounded'>

    <%= form_with url: user_password_path(@user.id), :class=>"form-group", local:true do |f|%>
    <% if @user.errors.any? %>
    <p>
        <%= @user.errors.full_messages.join(', ')%>
    </p>
    <% end %>
    <div>
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
    </div>
    <div>
        <%= f.label :new_password %>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Update password"%>
    <%end%>
</div>